.know-us {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../bg-images/know-us2.jpg");
}
.form-bg {
  background-color: #a0e0ff54;
}
